<nav class="navbar navbar-expand-lg navbar-dark  header">
    <a class="navbar-brand select"  routerLink=""  routerLinkActive="active">Publicaciones</a>


    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item ">
                <a class="nav-link ">|</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link  select"   routerLink="/new-post"  routerLinkActive="active">Nuevo Post</a>
            </li>

            <li class="nav-item ">
                <a id="details" class="nav-link " *ngIf="detalles">Detalles</a>
            </li>
        </ul>


    </div>


      
        <ul *ngIf="!login" class="navbar-nav mr-auto">

            <li class="nav-item ">
                <a class="nav-link select"routerLink="/sign-in"  routerLinkActive="active">Registrarse</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link">|</a>
            </li>

            <li class="nav-item marg-righ">
                <a class="nav-link  select" routerLink="/login"  routerLinkActive="active">Iniciar sesión</a>
            </li>
        </ul>

    
        <div *ngIf="login" class="perfil">
            <figure>
                <img [src]="userLoged.urlImage"
                    alt="Imagen de perfil"
                    routerLink="/sign-in" 
                    >
                <figcaption id="name-img" class="nav-link select" routerLink="/sign-in"  routerLinkActive="active" >{{userLoged.name}} {{userLoged.lastname}}</figcaption>
            </figure>
        </div>
        
        <div *ngIf="login" (click)="logOut()" class="power-div">
            <svg id="power-img" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
              </svg>
        </div>


</nav> 