<nav *ngIf="!mobile" class="navbar navbar-expand-lg navbar-dark  header">
    <a class="navbar-brand select" [ngStyle]="{'margin-left':'1.3em'}" routerLink="" routerLinkActive="active">HOME</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item ">
                <a class="nav-link ">|</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link  select" routerLink="/new-post" routerLinkActive="active">New Post</a>
            </li>

            <li class="nav-item ">
                <a id="details" class="nav-link " *ngIf="detalles">Details</a>
            </li>
        </ul>

    </div>


    <ul *ngIf="!login" class="navbar-nav mr-auto">

        <li class="nav-item ">
            <a class="nav-link select" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link">|</a>
        </li>

        <li class="nav-item marg-righ">
            <a class="nav-link  select" routerLink="/login" routerLinkActive="active">Log In</a>
        </li>
    </ul>


    <div *ngIf="login" class="perfil">
        <figure>
            <img [src]="userLoged.urlImage" alt="Imagen de perfil" routerLink="/sign-in">
            <figcaption id="name-img" class="nav-link select" routerLink="/sign-in" routerLinkActive="active">
                {{userLoged.name | titlecase}} {{userLoged.lastname | titlecase}}</figcaption>
        </figure>
    </div>

    <div *ngIf="login" (click)="logOut()" class="power-div">
        <svg id="power-img" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
            <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
        </svg>
    </div>


</nav>





<nav *ngIf="mobile" class="navbar navbar-expand-lg navbar-dark  header">


    <div *ngIf="login" class="perfil">
        <figure>
            <img [src]="userLoged.urlImage" alt="Imagen de perfil" routerLink="/sign-in">
        </figure>
    </div>
    <div *ngIf="!login" class="perfil">
        <figure>
           <span class="text-login-mobile" routerLink="/login" routerLinkActive="active">Log In</span>
        </figure>
    </div>


    <div class="div-menu">
        <svg (click)="menuActive=true" *ngIf="!menuActive" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>

        <svg (click)="menuActive=false" *ngIf="menuActive" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </div>


</nav>

<section *ngIf="mobile && menuActive" class="drop-up">
    <div class="drop">

       
        <ul class="drop-ul">
            <li (click)="menuActive=false" routerLink="/" routerLinkActive="active">Home</li>
            <li (click)="menuActive=false" routerLink="/new-post" routerLinkActive="active">New Post</li>
            <li *ngIf="!login" (click)="menuActive=false" routerLink="/sign-in" routerLinkActive="active">Sign In</li>
            <li *ngIf="login" (click)="logOut();menuActive=false">Log Out</li>
            <li *ngIf="!login" (click)="menuActive=false" routerLink="/login" routerLinkActive="active">Log In</li>
        </ul>


    </div>
</section>
