.size{
    width: 23em;
}
 
.text-center{
display: flex;
height: 90%;
    justify-content: center;
    align-items: center;
}


.check{
 
    margin-top: 1em;
}

small{
    margin: 1em;
}

.invalid{
    margin-bottom: 1em;
}