main {
  width: 100%;
  display: flex;
  margin-top: 5em;
}

/* -------------tags--------- */
.tags-div-button {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tags-div-button > button {
  margin-left: 1em;
}

.tags-div {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

/* ---------------------------------------- */

.roww {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.input-array {
  text-align: center;
  width: 8em;
  max-width: 12em;
}

.input-array-hide {
  text-align: right;
  width: auto;
  outline-style: none;
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}
svg {
  margin-left: 0.5em;
  font-size: 1.5em;
}
svg:hover {
  color: rgb(194, 0, 0);
}
svg:active {
  transform: scale(1.1, 1.1);
}

.boton {
  margin-bottom: 5em;
  margin-top: 1em;
}

.mar-top {
  margin-top: 3em;
}
