<div class="container">

    <h1 class="title">{{post.title}}</h1>

    <div class="user">
        <figure>
            <img class="img-perfil"
                [src]="post.authorImage"
                alt="Imagen de perfil">
            <div class="div-perfil-text">
                <figcaption class="img-perfil-text-1">{{post.author}}</figcaption>
                <figcaption class="img-perfil-text-2">Publicado el {{post.date | date:'dd/MM/yyyy'}} a las {{post.date | date:'hh:mm'}}</figcaption>
            </div>
        </figure>
    </div>

    <div class="div-img-publication">
        <figure class="figure-publication">
            <img class="img-publication"
                [src]="post.urlImage"
                alt="Imagen de perfil">
            
                <figcaption class="img-publication-text">{{post.textImage}}</figcaption>
               
         
        </figure>
    </div>


    <h2 class="subtitle">{{post.subtitle}}</h2>
    <p class="text-justify description">{{post.description}}</p>


    <ul>
        <li *ngFor="let tag of post.tags;"><span>{{tag}}</span></li>
    </ul>

</div>