<div class="container">

    <h1 class="title">¿Quieres trabajar en el sector digital?</h1>

    <div class="user">
        <figure>
            <img class="img-perfil"
                src="https://cdn.peoople.app/image/profile/truster/822329_17022020105935621518_opt.jpg"
                alt="Imagen de perfil">
            <div class="div-perfil-text">
                <figcaption class="img-perfil-text-1">Antonio Olvera, Programers, 25</figcaption>
                <figcaption class="img-perfil-text-2">Publicado el 29/12/2020</figcaption>
            </div>
        </figure>
    </div>

    <div class="div-img-publication">
        <figure class="figure-publication">
            <img class="img-publication"
                src="https://cdn.peoople.app/image/profile/truster/822329_17022020105935621518_opt.jpg"
                alt="Imagen de perfil">
            
                <figcaption class="img-publication-text">Texto de pie de imagen</figcaption>
               
         
        </figure>
    </div>


    <h2 class="subtitle">Elige tu Campus</h2>
    <p class="text-justify description">Conoce nuestros Campus de Madrid y Barcelona, situados en el corazón de dos
        ciudades punteras en el desarrollo del sector digital.
        Pensado para que puedas desarrollarte profesionalmente desde donde tú decidas. Comparte aula con tus compañeros
        y profesores y fórmate con las metodologías de colaboración a distancia más demandadas.
        En pleno corazón de la ciudad, el Campus Madrid ofrece a nuestros alumnos unas instalaciones acogedoras y
        actuales en las que sentirse como en casa. Ven a visitarnos y conócenos.
    </p>

</div>