
<main>
<div class="container">


<form [formGroup]="formg" (submit)="saveForm()">

<div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control"
    formControlName="email"
    >
    <small class="form-text text-muted">Required field, fill it in please.</small>
</div>

<div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control"
    formControlName="password"
    >
    <small class="form-text text-muted">Required field, fill it in please.</small>
</div>


<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control"
    formControlName="name"
    >
    <small class="form-text text-muted">Required field, fill it in please.</small>
</div>

<div class="form-group">
    <label>Last name</label>
    <input type="text" class="form-control"
    formControlName="lastname"
    >
    <small class="form-text text-muted">Required field, fill it in please.</small>
</div>

<label>Age</label>
<input type="number" class="form-control"
formControlName="age"
>
<small class="form-text text-muted">Required field, fill it in please.</small>

<label>Job</label>
<input type="text" class="form-control"
formControlName="job"
>
<small class="form-text text-muted">Required field, fill it in please.</small>

<label>Url image</label>
<input type="text" class="form-control"
formControlName="urlImage"
>
<small class="form-text text-muted">Required field, fill it in please.</small>

<button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>

</main>